<h1>Hello, Rails!</h1>
<%= link_to 'My Blog', controller: 'articles' %>
| 
<a href="/articles/new">New Article</a>

<hr />

<h2>HTTP_X_ARR_SSL</h2>
request.headers["HTTP_X_ARR_SSL"]: <%= request.headers["HTTP_X_ARR_SSL"] %>

<hr />

<h2>Request Headers<h2>
<% request.each_header do |key, value| %>
    <p>
        <b><%= key %></b>
        <%= value %>
    </p>
<%end %>
